<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Job to test mediawiki/core.git with the Wikibase extension.&#xd;
&lt;br/&gt;&lt;br/&gt;&#xd;
&lt;b&gt;This job is disabled since it causes a HUGE memory leak that eventually kill the server&lt;/b&gt;</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>true</disabled>
  <blockBuildWhenDownstreamBuilding>true</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
      <spec></spec>
      <gerritProjects>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
          <compareType>PLAIN</compareType>
          <pattern>mediawiki/extensions/Wikibase</pattern>
          <branches>
            <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
              <compareType>ANT</compareType>
              <pattern>**</pattern>
            </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.Branch>
          </branches>
        </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.data.GerritProject>
      </gerritProjects>
      <gerritBuildStartedVerifiedValue>0</gerritBuildStartedVerifiedValue>
      <gerritBuildStartedCodeReviewValue>0</gerritBuildStartedCodeReviewValue>
      <gerritBuildSuccessfulVerifiedValue>0</gerritBuildSuccessfulVerifiedValue>
      <gerritBuildSuccessfulCodeReviewValue>0</gerritBuildSuccessfulCodeReviewValue>
      <gerritBuildFailedVerifiedValue>0</gerritBuildFailedVerifiedValue>
      <gerritBuildFailedCodeReviewValue>0</gerritBuildFailedCodeReviewValue>
      <gerritBuildUnstableVerifiedValue>0</gerritBuildUnstableVerifiedValue>
      <gerritBuildUnstableCodeReviewValue>0</gerritBuildUnstableCodeReviewValue>
      <gerritBuildNotBuiltVerifiedValue>0</gerritBuildNotBuiltVerifiedValue>
      <gerritBuildNotBuiltCodeReviewValue>0</gerritBuildNotBuiltCodeReviewValue>
      <silentMode>false</silentMode>
      <escapeQuotes>true</escapeQuotes>
      <buildStartMessage></buildStartMessage>
      <buildFailureMessage></buildFailureMessage>
      <buildSuccessfulMessage></buildSuccessfulMessage>
      <buildUnstableMessage></buildUnstableMessage>
      <buildNotBuiltMessage></buildNotBuiltMessage>
      <buildUnsuccessfulFilepath></buildUnsuccessfulFilepath>
      <customUrl></customUrl>
      <triggerOnEvents>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginPatchsetCreatedEvent/>
        <com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.events.PluginDraftPublishedEvent/>
      </triggerOnEvents>
      <dynamicTriggerConfiguration>false</dynamicTriggerConfiguration>
      <triggerConfigURL></triggerConfigURL>
      <triggerInformationAction/>
    </com.sonyericsson.hudson.plugins.gerrit.trigger.hudsontrigger.GerritTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Ant>
      <targets>properties build-wikidata take-fingerprints</targets>
      <buildFile>../build.xml</buildFile>
      <properties>sourcedir=$WORKSPACE</properties>
    </hudson.tasks.Ant>
    <hudson.plugins.createfingerprint.CreateFingerprint>
      <targets>fingerprints/*</targets>
    </hudson.plugins.createfingerprint.CreateFingerprint>
    <hudson.tasks.Ant>
      <targets>phpunit-databaseless phpunit-extensions phpunit-api phpunit-misc phpunit-parser</targets>
      <buildFile>../build.xml</buildFile>
      <properties>sourcedir=$WORKSPACE</properties>
    </hudson.tasks.Ant>
  </builders>
  <publishers>
    <hudson.tasks.test.AggregatedTestResultPublisher>
      <includeFailedBuilds>true</includeFailedBuilds>
    </hudson.tasks.test.AggregatedTestResultPublisher>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper>
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
  </buildWrappers>
</project>