*.pyc

# Ignore anything in the root project directory,
# because this repository is checked out on
# the Jenkins master as overlaying /var/lib/jenkins,
# and we don't want 'git status' to be dirty with
# the the main files from Jenkins.
/*
# .. except:
!/bin/
!/etc/
!/mediawiki/
!/tests/
!/tools/
!/.gitignore
!/.pep8
!/composer.json
!/phpunit.xml.dist
!/setup.cfg
!/test-requirements.txt
!/tox.ini
