*.pyc
# Ignore anything in the root project directory:
/*
# .. except:
!.gitignore
!.pep8
!test-requirements.txt
!setup.cfg
!tox.ini
!phpunit.xml.dist
!bin/
!etc/
!jobs/
!mediawiki/
!tests/
!tools/
!composer.json
