# Ignore anything in the root project directory:
/*
# .. except:
!.gitignore
!jobs/

# In jobs:
# ignore subdirectories
/jobs/*/*
!/jobs/_shared/*
!/jobs/*/config.xml
!/jobs/*/build.xml
!/jobs/*/build.properties
!/jobs/*/*.php
