[submodule "tools/junitdiff"]
	path = tools/junitdiff
	url = https://gerrit.wikimedia.org/r/p/integration/junitdiff.git
[submodule "tools/mwcodeutils"]
	path = tools/mwcodeutils
	url = https://gerrit.wikimedia.org/r/p/mediawiki/tools/code-utils.git
[submodule "tools/bundler"]
	path = tools/bundler
	url = https://gerrit.wikimedia.org/r/p/integration/bundler.git
