[submodule "tools/testswarm"]
	path = tools/testswarm
	url = https://gerrit.wikimedia.org/r/p/integration/testswarm
[submodule "tools/gruntjs"]
	path = tools/gruntjs
	url = https://gerrit.wikimedia.org/r/p/integration/gruntjs.git
[submodule "tools/mwcodesniffer"]
	path = tools/mwcodesniffer
	url = https://gerrit.wikimedia.org/r/p/mediawiki/tools/codesniffer
[submodule "tools/junitdiff"]
	path = tools/junitdiff
	url = https://gerrit.wikimedia.org/r/p/integration/junitdiff
