<phpunit
  colors="true"
  beStrictAboutTestsThatDoNotTestAnything="true"
  beStrictAboutOutputDuringTests="true"
  checkForUnintentionallyCoveredCode="true"
  beStrictAboutTestSize="true"
>
  <testsuites>
    <testsuite>
      <directory>tests</directory>
    </testsuite>
  </testsuites>
</phpunit>
